.earnings-section {
  background-color: $blue-green;
  padding: 60px 0;
}

.earnings-section__title {
  color: #fff;
  font-family: 'Petit Formal Script', cursive;
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 5rem;
  text-align: center;
}