body {
  display: flex;
  font-family: 'Comfortaa', sans-serif;
  font-size: 18px;
  font-weight: 400;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;

  & > main,
  header,
  footer {
    flex: 1 1 auto;
  }

  footer {
    position: relative;
    z-index: 2;
  }
}

a {
  color: $black;
  text-decoration: none;
  transition: .5s color;

  &:hover {
    color: $red;
    text-decoration: none;
  }
}

h2,
h3 {
  color: $red;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.6rem;
}
button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

pre {
  background-color: #fff;
}
