/*------------
--- Colors ---
------------*/
$white: #fff;
$black: #000;
$blue: #29343f;
$red: #a5181a;
$blue-green: #25373a;
$gray: #cccccc;

$sizes: 0;
$mainBreakpoint: "md";

$colors: (
  'white': $white,
  'black': $black,
  'blue': $blue,
  'red': $red,
  'blue-green': $blue-green
);
