.banner-intro {
  align-items: center;
  background-color: $blue;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  position: relative;
  text-align: center;

  &:before {
    background-color: rgba(0, 0, 0, 0.3);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  @include media-breakpoint-down('sm') {
    background-image: none !important;
  }

  .container {
    z-index: 2;
  }
}

.banner-intro__title {
  color: $white;
  text-align: center;
  margin-bottom: 4rem;
}

.banner-category {
  border-bottom: 2px solid $red;
  position: relative;

  img {
    object-fit: cover;
    max-width: 100%;
    width: 100%;

    @include media-breakpoint-up(lg) {
      max-height: 70vh;
    }
  }
}

.banner-category__side {
  @include media-breakpoint-up(md) {
    align-items: center;
    background-color: rgba(#000, 0.3);
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.banner-category__title {
  background-color: $red;
  color: #fff;
  font-family: 'Petit Formal Script', cursive;
  margin-bottom: 0;
  padding: 16px 40px;

  @include media-breakpoint-up(md) {
    align-items: center;
    background-color: rgba($red, 0.5);
    display: flex;
    justify-content: center;
    max-width: 650px;
    width: 50%;
  }
}

.banner-single {
  text-align: center;

  @include media-breakpoint-up(md) {
    padding-top: 40px;
  }

  img {
    max-width: 100%;
  }
}