.card-blog {
  text-align: center;
}

.card-blog__header {
  position: relative;
  margin-bottom: 15px;
}

.card-blog__image {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

.card-blog__cat {
  background-color: #fff;
  color: $red;
  font-weight: 700;
  left: 5px;
  padding: 2px 5px;
  position: absolute;
  top: 5px;
}

.card-blog__date {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}

.card-blog__title {
  background-color: $red;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
  padding: .8rem 3rem;
  text-align: center;
}

.card-blog__content {
  color: #fff;
  margin-bottom: 15px;
  text-align: center;
}

.card-category {
  border-bottom: 1px solid $red;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-bottom: 20px;

  @include media-breakpoint-up(lg) {
    flex-direction: row-reverse;
  }

  img {
    flex-basis: 50%;
    object-fit: cover;
    max-width: 100%;
  }
}

.card-category__title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

.card-category__date {
  font-size: 14px;
  margin-bottom: 0;

  @include media-breakpoint-up(lg) {
    margin-bottom: 20px;
  }
}

.card-category__author {
  font-size: 14px;
}

.card-category__content {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
    margin-bottom: 0;
  }
}